<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL-shortener</title>
</head>
<body>
  <div>
    <div>
      <a href="/">URL Shortener</a>
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="URL Shortener">
      
      {{{body}}}

    </div>
  </div>
 
</body>
</html>