<div>
  <form action="/URL-shortener" method="POST" >
    <input type="text" placeholder="請輸入網址" name="URL" style="width:300px; height:30px;">
    <button type="submit" class="border border-dark" style="height:30px;">Create</button>
  </form>
  {{#if isEmpty}}
  <div class="alert d-flex justify-content-center" style="margin:20px;font-size:30px;">尚未輸入網址 !</div>
  {{/if}}
</div>