<div>
  <h3>Please use this link!</h3>
  <div id="shortened">{{shortened}}</div>
  <button onclick="copy()">Copy</button>
</div>
<script>
  const shortened = document.querySelector("#shortened").textContent
   navigator.clipboard.writeText(shortened)
</script>